{% extends "base.html" %}

{% block body_block %}
    <div class="page-header">
        <h1>Login</h1>
                <form method="post" action=".">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <input type="submit" value="Log in" />
                        <input type="hidden" name="next" value="{{ next }}" />
                        </form>

                <p>Not  a member? <a href="{% url 'registration_register' %}">Register</a>!</p>
    </div>
{% endblock %}
