{% extends "base.html" %}


{% block body_block %}
    <div class="page-header">
        <h1>Password Change Successful</h1>
                <p>Your password was changed</p>
    </div>
{% endblock %}
