{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}
<div class="page-header">
    <h1>About Rango</h1>
    This is <strong>Rango's about page</strong>.<br />

    You've visited the site on <strong>{{ request.session.visits }} occasion(s)</strong>.<br />

    Here's a picture of Rango!<br />
    <img  width="100" height="100" src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />
</div>
{% endblock %}
