{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
Add a Page
{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>Add a Page</h1>

        <form id="page_form" method="post" action="/rango/category/{{ category_slug }}/add_page/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Create Page" />
        </form>
    </div>
{% endblock %}
