{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
Add a Category
{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>Add a Category</h1>

        <form id="category_form" method="post" action="/rango/add_category/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Create Category" />
        </form>
    </div>
{% endblock %}
