{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
{{ category_name }}
{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>{{ category_name }}</h1>
        {% if category %}
            {% if pages %}
            <ul>
                    {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                    </ul>
            {% else %}
                    <strong>No pages currently in category.</strong>
                    {% endif %}

            {% if user.is_authenticated %}
                    <a href="{% url 'add_page'  category.slug %}">Add a Page</a>
                    {% endif %}
            {% else %}
                     The specified category {{ category_name }} does not exist!
        {% endif %}
    </div>
{% endblock %}
