{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
Login to Rango
{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>Login to Rango</h1>

        <form id="login_form" method="post" action="/rango/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>
    </div>
{% endblock %}
