{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
Register with Rango
{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>Register with Rango</h1>

        {% if registered %}
        Rango says: <strong>Thank you for registering!</strong><br />
        <a href="{% url 'index' %}">Return to the homepage.</a><br />
        {% else %}
        Rango says: <strong>Register here!</strong><br />

        <form id="user_form" method="post" action="/rango/register/" enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
    </div>
{% endblock %}
